<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.title %}{{ page.title }}{% else if include.title %}{{ include.title }}{% endif %} | Singularity University Startup Lab</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="icon" type="image/png" href="/img/favicon.png" />
	<link rel="alternate" type="application/atom+xml" href="/feed.xml" />
	<script src="/js/vendor/modernizr.js"></script>
</head>
<body>
