<div class="contain-to-grid">
	<div class="row">
		<div class="large-10 columns large-offset-1 end">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<a href="/"><img src="/img/su-labs-logo.svg" alt="Singularity University Labs" /></a>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#" data-proofer-ignore><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li><a href="/">Home</a></li>
						<li class="has-dropdown">
							<a href="" data-proofer-ignore>Programs</a>
							<ul class="dropdown">
								<li><a href="/accelerator/">Startup Accelerator</a></li>
								<li><a href="/su-companies/">SU Companies Program</a></li>
							</ul>
						</li>
						<li><a href="/portfolio/">Portfolio</a></li>
						<li class="has-dropdown">
							<a href="" data-proofer-ignore>People</a>
							<ul class="dropdown">
								<li><a href="/team/">Team</a></li>
								<li><a href="/mentor/">Mentors</a></li>
							</ul>
						</li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="https://twitter.com/su_labs" target="_blank"><img src="/img/twitter.svg" alt="Twitter" /></a></li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
</div>
