---
layout: default
title: Partners
---
<div id="header-home-bg">
	<div id="header">
		{% include menu.html %}
		<div class="row">
			<div class="header-promo large-10 columns large-offset-1 end">
				<h1>Partners</h1>
			</div>
		</div>
	</div> <!-- header -->
</div> <!-- header-home-bg -->

<div id="main-content">
	<div class="row">
		<div class="large-10 columns large-offset-1 end">
			<h2>SU Startup Lab Partner Program</h2>
			<p>As part of our mission to support our SU companies, we are continually adding valuable partners who provide important resources to our startups. Providing discounts and services valued at over $100,000, our partners have extended special rates and offers to SU Companies. These discounts represent significant savings to a young startup, and as our list of partners grows, the benefit to our member companies will continue to grow. If you’re interested in becoming a partner with SU Startup Lab please <a href="/contact/">contact us</a>.</p>
			<hr />
		</div>
	</div>

	{% assign partners = site.data.partners | sort: 'name' %}
	{% for partner in partners %}
	<div class="row">
		<div class="large-3 columns large-offset-1">
			{% if partner.img %}
			<a href="{{ partner.link }}" target="_blank"><img src="/img/partners/{{ partner.img }}" alt="{{ partner.name }}"></a>
			{% else %}
			&nbsp;
			{% endif %}
		</div>
		<div class="large-7 columns end">
			<h4><a href="{{ partner.link }}" target="_blank">{{ partner.name }}</a></h4>
			<p>{{ partner.info }}</p>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns large-offset-1">
			<hr />
		</div>
		<div class="large-7 columns end">
			<hr />
		</div>
	</div>
	{% endfor %}

</div> <!-- main-content -->
